.top_link {
  font-size:25px;
  margin-left:30px;
}


body{
  display:flex;
  text-align: center;
  justify-content: center;
  background-color: grey;
  margin:0;
  padding:0;
}

.middle{
  height: 100vh;
  width: 1000px;
  background-color: #CAE3D7;
  
}

#comictitle{
  font-size: 64px;
  border: 0px solid black;
  margin:0px;
  padding:0px;
  margin-top: 16px;
}

.gbicon{
  height: 225px;
  border: 2px solid black;
}
.linkk{
  margin: 6px;
  color: black;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 2px 0px #E5A14E, 2px 2px #E5A14E, 0px 2px #E5A14E, -2px -2px #FFE375, 2px -2px #FFE375, -2px 2px #FFE375 , -2px 2px #FFE375  ;
  background-color: #FCC145;
  font-size: 20px;
  
}

#gbpublishingtitle{
  margin: 70px;
  font-size: 70px;
  font-weight: Bold;
}

.linkshold{
  display:flex;
  background-color: #65AF8C;
}

.home{
  display:block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:35px;
}

p{
  font-size: 24px;
  margin: 0px;
}


.topbar{
  background-color: lightgrey;
  height: 100px;
  display:flex;
}

  
  
.bio {
  background-color: #B8D8C9;
  margin: 10px;
  padding: 20px;
  text-align:left;
}

.rest{
  display:flex;
  flex-grow: 1; 
}

.left{
  width: 25%;
  background-color: #B8D8C9;
  margin: 10px;
  padding: 20px;
  text-align:left;
}
.right{
  width: 75%;
  background-color: #B8D8C9;
  margin: 10px;
  padding: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: #CAE3D7;
}

.bioicon {
    float: left; /* Change to 'right' if you want the image on the right */
    margin-right: 15px; /* Adjust margin to space text from image */
    margin-bottom: 10px; /* Optional: margin to add space below the image */
    width: 150px; /* Set width as needed */
    height: auto; /* Maintain aspect ratio */
}

.biotext {
    overflow: hidden; /* Clear floats if needed */
}
  
  