.top_link {
  font-size:25px;
  margin-left:30px;
}

 body {
  background-color: white;
} 

.CHAPTERNAMEANDTITLE{
  margin-top:40px;
}

p{
  font-size: 30;
  margin-left: 25px;
}

.top_container{
  display: flex;
  justify-content: flex-start;
  background-color: grey;
}

body{
  margin: 0;
  text-align: center;
}
.home{
  display:block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:35px;
}
.xl{
  position: fixed;
  bottom: 45%;
  left: 0;
  width: 5%;
  font-size: 50px;
  background-color: #73AD21;
  color: white;
}
.xr{
  position: fixed;
  bottom: 45%;
  right: 0;
  width: 5%;
  font-size: 50px;
  background-color: #73AD21;
  color: white;
}

.chapter-name{
  display: block;
  font-size: 50px;
  margin-bottom:30px;
}
.chapter-link{
  display: block;
  margin-bottom:15px;
  font-size: 35px;
}

img
{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.chap27image{
  position: absolute;
  top:0;
  width:100%;
  display:flex;
  justify-content:center;
  align-content:center;
}
.chap27image{
  height: 650px;
}